<!-- 加载栏 -->
<ws-loading-bar></ws-loading-bar>

<!-- 导航 -->
<ng-container *ngIf="isScreenSmall">
  <ws-vertical-navigation
    class="bg-gray-900 dark print:hidden"
    [mode]="'over'"
    [name]="'mainNavigation'"
    [navigation]="navigation.default"
    [opened]="false"
  >
    <!-- 导航头部钩子 -->
    <ng-container wsVerticalNavigationContentHeader>
      <!-- logo -->
      <div class="flex items-center h-20 px-8 pt-6">
        <img class="w-24" src="assets/images/logo/weishour.svg" alt="Logo image" />
      </div>
    </ng-container>
  </ws-vertical-navigation>
</ng-container>

<!-- 包装 -->
<div class="flex flex-col flex-auto w-full min-w-0">
  <!-- 头部 -->
  <div
    class="relative flex items-center w-full h-16 px-4 shadow flex-0 sm:h-20 md:px-6 z-49 dark:shadow-none dark:border-b bg-card dark:bg-transparent print:hidden"
  >
    <ng-container *ngIf="!isScreenSmall">
      <!-- logo -->
      <div class="flex items-center mx-2 lg:mr-8">
        <div class="hidden lg:flex">
          <img class="w-24 dark:hidden" src="assets/images/logo/weishour.svg" />
          <img class="hidden w-24 dark:flex" src="assets/images/logo/weishour.svg" />
        </div>
        <img class="flex w-8 lg:hidden" src="assets/images/logo/logo.svg" />
      </div>
      <!-- 水平导航 -->
      <ws-horizontal-navigation
        class="mr-2"
        [name]="'mainNavigation'"
        [navigation]="navigation.horizontal"
      ></ws-horizontal-navigation>
    </ng-container>
    <!-- 导航切换按钮 -->
    <ng-container *ngIf="isScreenSmall">
      <button mat-icon-button (click)="toggleNavigation('mainNavigation')">
        <mat-icon [svgIcon]="'heroicons_outline:menu'"></mat-icon>
      </button>
    </ng-container>
    <!-- 组件 -->
    <div class="flex items-center pl-2 ml-auto space-x-0.5 sm:space-x-2">
      <languages></languages>
      <ws-fullscreen class="hidden md:block"></ws-fullscreen>
      <search [appearance]="'bar'"></search>
      <shortcuts></shortcuts>
      <messages></messages>
      <notifications></notifications>
      <!-- <button class="lg:hidden" mat-icon-button (click)="quickChat.toggle()">
        <mat-icon [svgIcon]="'heroicons_outline:chat-alt-2'"></mat-icon>
      </button> -->
      <user></user>
    </div>
  </div>

  <!-- 内容 -->
  <div class="flex flex-col flex-auto w-full">
    <!-- *ngIf="true"需要在这里放置为了router-outlet正常工作。
         否则，布局的改变将不会被注册，视图也不会被更新! -->
    <router-outlet *ngIf="true"></router-outlet>
  </div>

  <!-- 尾部 -->
  <div
    class="relative flex items-center w-full px-4 border-t flex-0 h-14 sm:h-20 md:px-6 z-49 bg-card dark:bg-transparent print:hidden"
  >
    <span class="font-medium text-secondary">Ws &copy; {{ currentYear }}</span>
  </div>
</div>
