<ng-container *transloco="let t; read: 'header'">
  <!-- 消息切换 -->
  <button mat-icon-button [matTooltip]="t('messages')" (click)="openPanel()" #messagesOrigin>
      <ng-container *ngIf="unreadCount > 0">
          <span class="absolute top-0 left-0 right-0 flex items-center justify-center h-3">
              <span class="flex items-center justify-center shrink-0 min-w-4 h-4 px-1 ml-4 mt-2.5 rounded-full bg-indigo-600 text-indigo-50 text-xs font-medium">
                  {{unreadCount}}
              </span>
          </span>
      </ng-container>
      <mat-icon [svgIcon]="'heroicons_outline:inbox'"></mat-icon>
  </button>

  <!-- 消息面板 -->
  <ng-template #messagesPanel>

      <div class="fixed inset-0 flex flex-col overflow-hidden shadow-lg sm:static sm:inset-auto sm:min-w-90 sm:w-90 sm:rounded-2xl">

          <!-- 头部 -->
          <div class="flex items-center py-4 pl-6 pr-4 shrink-0 bg-primary text-on-primary">
              <div class="mr-3 -ml-1 sm:hidden">
                  <button
                      mat-icon-button
                      (click)="closePanel()">
                      <mat-icon
                          class="text-current icon-size-5"
                          [svgIcon]="'heroicons_solid:x'"></mat-icon>
                  </button>
              </div>
              <div class="text-lg font-medium leading-10">Messages</div>
              <div class="ml-auto">
                  <button
                      mat-icon-button
                      [disabled]="unreadCount === 0"
                      [matTooltip]="'Mark all as read'"
                      (click)="markAllAsRead()">
                      <mat-icon
                          class="text-current icon-size-5"
                          [svgIcon]="'heroicons_solid:mail-open'"></mat-icon>
                  </button>
              </div>
          </div>

          <!-- 内容 -->
          <div class="relative flex flex-col flex-auto overflow-y-auto divide-y sm:max-h-120 bg-card">
              <!-- 消息 -->
              <ng-container *ngFor="let message of messages; trackBy: trackByFn">
                  <div
                      class="flex group hover:bg-gray-50 dark:hover:bg-black dark:hover:bg-opacity-5"
                      [ngClass]="{'unread': !message.read}">

                      <!-- 带有链接的消息 -->
                      <ng-container *ngIf="message.link">
                          <!-- 正常的链接 -->
                          <ng-container *ngIf="!message.useRouter">
                              <a
                                  class="flex flex-auto py-5 pl-6 cursor-pointer"
                                  [href]="message.link">
                                  <ng-container *ngTemplateOutlet="messageContent"></ng-container>
                              </a>
                          </ng-container>
                          <!-- 路由链接 -->
                          <ng-container *ngIf="message.useRouter">
                              <a
                                  class="flex flex-auto py-5 pl-6 cursor-pointer"
                                  [routerLink]="message.link">
                                  <ng-container *ngTemplateOutlet="messageContent"></ng-container>
                              </a>
                          </ng-container>
                      </ng-container>

                      <!-- Message without a link -->
                      <ng-container *ngIf="!message.link">
                          <div class="flex flex-auto py-5 pl-6">
                              <ng-container *ngTemplateOutlet="messageContent"></ng-container>
                          </div>
                      </ng-container>

                      <!-- 动作 -->
                      <div class="relative flex flex-col my-5 ml-2 mr-6">
                          <!-- 指示器 -->
                          <button
                              class="w-6 h-6 min-h-6"
                              mat-icon-button
                              (click)="toggleRead(message)"
                              [matTooltip]="message.read ? 'Mark as unread' : 'Mark as read'">
                              <span
                                  class="w-2 h-2 rounded-full"
                                  [ngClass]="{'bg-gray-400 dark:bg-gray-500 sm:opacity-0 sm:group-hover:opacity-100': message.read,
                                              'bg-primary': !message.read}"></span>
                          </button>
                          <!-- 删除 -->
                          <button
                              class="w-6 h-6 min-h-6 sm:opacity-0 sm:group-hover:opacity-100"
                              mat-icon-button
                              (click)="delete(message)"
                              [matTooltip]="'Remove'">
                              <mat-icon
                                  class="icon-size-4"
                                  [svgIcon]="'heroicons_solid:x'"></mat-icon>
                          </button>
                      </div>
                  </div>

                  <!-- 消息内容模板 -->
                  <ng-template #messageContent>
                      <!-- 图标 -->
                      <ng-container *ngIf="message.icon && !message.image">
                          <div class="flex items-center justify-center w-8 h-8 mr-4 bg-gray-100 rounded-full shrink-0 dark:bg-gray-700">
                              <mat-icon
                                  class="icon-size-5"
                                  [svgIcon]="message.icon">
                              </mat-icon>
                          </div>
                      </ng-container>
                      <!-- 图片 -->
                      <ng-container *ngIf="message.image">
                          <img
                              class="object-cover object-center w-8 h-8 mr-4 overflow-hidden rounded-full shrink-0"
                              [src]="message.image"
                              [alt]="'Message image'">
                      </ng-container>
                      <!-- 标题、描述和时间 -->
                      <div class="flex flex-col flex-auto">
                          <ng-container *ngIf="message.title">
                              <div
                                  class="font-semibold line-clamp-1"
                                  [innerHTML]="message.title"></div>
                          </ng-container>
                          <ng-container *ngIf="message.description">
                              <div
                                  class="line-clamp-2"
                                  [innerHTML]="message.description"></div>
                          </ng-container>
                          <div class="mt-2 text-sm leading-none text-secondary">
                              {{message.time | date:'MMM dd, h:mm a'}}
                          </div>
                      </div>
                  </ng-template>
              </ng-container>

              <!-- 没有消息 -->
              <ng-container *ngIf="!messages || !messages.length">
                  <div class="flex flex-col items-center justify-center flex-auto px-8 py-12 sm:justify-start">
                      <div class="flex items-center justify-center rounded-full flex-0 w-14 h-14 bg-primary-100">
                          <mat-icon
                              class="text-primary-500-700"
                              [svgIcon]="'heroicons_outline:inbox'"></mat-icon>
                      </div>
                      <div class="mt-5 text-2xl font-semibold tracking-tight">没有消息</div>
                      <div class="w-full mt-1 text-center max-w-60 text-md text-secondary">当你有消息时，它们会出现在这里。</div>
                  </div>
              </ng-container>
          </div>
      </div>
  </ng-template>
</ng-container>
