<ng-container *transloco="let t; scope: 'error'">
  <div class="absolute inset-0">
    <div class="flex flex-col items-center justify-center flex-auto h-full p-6 sm:p-10">
      <div class="w-full max-w-3xl">
        <lottie-player
          autoplay
          speed="3"
          src="assets/json/lotties/500.json"
          class="drop-shadow-md"
          style="height: 400px"
        >
        </lottie-player>
      </div>
      <div
        class="mt-4 text-lg font-medium tracking-tight text-center sm:mt-8 md:text-xl text-secondary"
        [@fadeInLeft]="AY_50"
      >
        {{ t('error.500') }}
      </div>
      <button class="mt-4 font-medium ws-buttom-hover" [routerLink]="['/']" [@fadeInRight]="AY_50">
        {{ t('error.return_home') }}
      </button>
    </div>
  </div>
</ng-container>
