# See http://help.github.com/ignore-files/ for more about ignoring files.

# 编译后的输出
/dist
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out

# 依赖
/node_modules

# 配置文件
chrome-profiler-events*.json

# IDE和编辑器
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.angular/cache
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# 系统文件
.DS_Store
*/.DS_Store
Thumbs.db

# Angular
.angular/*

# Electron
electron.js
electron.js.map
