<ng-container *transloco="let t; read: 'header'">
  <!-- 捷径切换 -->
  <button mat-icon-button [matTooltip]="t('shortcuts')" (click)="openPanel()" #shortcutsOrigin>
    <mat-icon [svgIcon]="'heroicons_outline:bookmark'"></mat-icon>
  </button>

  <!-- 捷径面板 -->
  <ng-template #shortcutsPanel>
    <div
      class="fixed inset-0 flex flex-col overflow-hidden shadow-lg sm:static sm:inset-auto sm:min-w-90 sm:w-90 sm:rounded-2xl"
    >
      <!-- 头部 -->
      <div class="flex items-center py-4 pl-6 pr-4 shrink-0 bg-primary text-on-primary">
        <div class="mr-3 -ml-1 sm:hidden">
          <button mat-icon-button (click)="closePanel()">
            <mat-icon class="text-current icon-size-5" [svgIcon]="'heroicons_solid:x'"></mat-icon>
          </button>
        </div>
        <div class="flex items-center text-lg font-medium leading-10">
          <span class="">Shortcuts</span>
          <ng-container *ngIf="mode !== 'view'">
            <span class="ml-1">
              <ng-container *ngIf="mode === 'add'">- Add new</ng-container>
              <ng-container *ngIf="mode === 'modify' || mode === 'edit'">- Editing</ng-container>
            </span>
          </ng-container>
        </div>
        <div class="ml-auto">
          <!-- 视图模式 -->
          <ng-container *ngIf="mode === 'view'">
            <!-- 进入“修改”模式 -->
            <button mat-icon-button (click)="changeMode('modify')" [matTooltip]="'Enter edit mode'">
              <mat-icon
                class="text-current icon-size-5"
                [svgIcon]="'heroicons_solid:pencil-alt'"
              ></mat-icon>
            </button>
            <!-- 进入“添加”模式 -->
            <button mat-icon-button (click)="newShortcut()" [matTooltip]="'Add shortcut'">
              <mat-icon
                class="text-current icon-size-5"
                [svgIcon]="'heroicons_solid:plus-circle'"
              ></mat-icon>
            </button>
          </ng-container>

          <!-- 修改模式 -->
          <ng-container *ngIf="mode === 'modify'">
            <!-- 进入“视图”模式 -->
            <button mat-icon-button (click)="changeMode('view')" [matTooltip]="'Exit edit mode'">
              <mat-icon
                class="text-current icon-size-5"
                [svgIcon]="'heroicons_solid:check-circle'"
              ></mat-icon>
            </button>
          </ng-container>

          <!-- 添加模式 -->
          <ng-container *ngIf="mode === 'add'">
            <!-- 进入“视图”模式 -->
            <button mat-icon-button (click)="changeMode('view')" [matTooltip]="'Cancel'">
              <mat-icon
                class="text-current icon-size-5"
                [svgIcon]="'heroicons_solid:x-circle'"
              ></mat-icon>
            </button>
          </ng-container>

          <!-- 修改模式 -->
          <ng-container *ngIf="mode === 'edit'">
            <!-- 进入“修改”模式 -->
            <button mat-icon-button (click)="changeMode('modify')" [matTooltip]="'Cancel'">
              <mat-icon
                class="text-current icon-size-5"
                [svgIcon]="'heroicons_solid:x-circle'"
              ></mat-icon>
            </button>
          </ng-container>
        </div>
      </div>
      <div class="relative flex flex-col flex-auto -mb-px overflow-y-auto sm:max-h-120 bg-card">
        <!-- 视图模式 -->
        <ng-container *ngIf="mode === 'view' || mode === 'modify'">
          <!-- 捷径 -->
          <div class="grid grid-flow-row grid-cols-2">
            <!-- 捷径 -->
            <ng-container *ngFor="let shortcut of shortcuts; trackBy: trackByFn">
              <div
                class="relative flex flex-col overflow-hidden border-b border-r group bg-card even:border-r-0 hover:bg-gray-50 dark:hover:bg-black dark:hover:bg-opacity-5"
              >
                <ng-container *ngIf="mode === 'modify'">
                  <div
                    class="absolute inset-0 cursor-pointer z-99"
                    (click)="editShortcut(shortcut)"
                  ></div>
                </ng-container>
                <!-- 正常连接 -->
                <a
                  class="flex flex-col items-center justify-center w-full h-full py-6 no-underline"
                  *ngIf="!shortcut.useRouter"
                  [ngClass]="{ 'pointer-events-none': mode === 'modify' }"
                  [href]="shortcut.link"
                >
                  <ng-container *ngTemplateOutlet="linkContent"></ng-container>
                </a>
                <!-- 路由链接 -->
                <a
                  class="flex flex-col items-center justify-center w-full h-full py-6 no-underline"
                  *ngIf="shortcut.useRouter"
                  [ngClass]="{ 'pointer-events-none': mode === 'modify' }"
                  [routerLink]="shortcut.link"
                >
                  <ng-container *ngTemplateOutlet="linkContent"></ng-container>
                </a>
                <!-- 链接内容模板 -->
                <ng-template #linkContent>
                  <div
                    class="relative flex items-center justify-center w-12 h-12 mb-3 bg-gray-100 rounded-full shrink-0 dark:bg-gray-700"
                  >
                    <mat-icon
                      class="absolute z-20 opacity-0 group-hover:opacity-100 icon-size-5"
                      *ngIf="mode === 'modify'"
                      [svgIcon]="'heroicons_solid:pencil'"
                    ></mat-icon>
                    <mat-icon
                      class="z-10"
                      [ngClass]="{ 'group-hover:opacity-0': mode === 'modify' }"
                      [svgIcon]="shortcut.icon"
                    ></mat-icon>
                  </div>
                  <div class="font-medium text-center">{{ shortcut.label }}</div>
                  <div class="text-center text-md text-secondary">{{ shortcut.description }}</div>
                </ng-template>
              </div>
            </ng-container>
          </div>

          <!-- 没有捷径 -->
          <ng-container *ngIf="!shortcuts || !shortcuts.length">
            <div
              class="flex flex-col items-center justify-center flex-auto px-8 py-12 sm:justify-start"
            >
              <div
                class="flex items-center justify-center rounded-full flex-0 w-14 h-14 bg-primary-100"
              >
                <mat-icon
                  class="text-primary-500-700"
                  [svgIcon]="'heroicons_outline:bookmark'"
                ></mat-icon>
              </div>
              <div class="mt-5 text-2xl font-semibold tracking-tight">No shortcuts</div>
              <div class="w-full mt-1 text-center max-w-60 text-md text-secondary">
                When you have shortcuts, they will appear here.
              </div>
            </div>
          </ng-container>
        </ng-container>

        <!-- 添加/编辑模式 -->
        <ng-container *ngIf="mode === 'add' || mode === 'edit'">
          <form class="p-6" [formGroup]="shortcutForm">
            <mat-form-field class="w-full">
              <mat-label>Label</mat-label>
              <input matInput [formControlName]="'label'" required />
            </mat-form-field>
            <mat-form-field class="w-full">
              <mat-label>Description</mat-label>
              <input matInput [formControlName]="'description'" />
            </mat-form-field>
            <mat-form-field class="w-full">
              <mat-label>Icon</mat-label>
              <input matInput [formControlName]="'icon'" required />
            </mat-form-field>
            <mat-form-field class="w-full">
              <mat-label>Link</mat-label>
              <input matInput [formControlName]="'link'" required />
            </mat-form-field>
            <mat-slide-toggle [color]="'primary'" [formControlName]="'useRouter'">
              Use router for the link
            </mat-slide-toggle>
            <!-- 动作 -->
            <div class="flex items-center justify-end mt-4">
              <button
                class="mr-2"
                *ngIf="mode === 'edit'"
                mat-flat-button
                type="button"
                (click)="delete()"
              >
                Delete
              </button>
              <button
                mat-flat-button
                [color]="'primary'"
                [disabled]="!shortcutForm.valid"
                type="button"
                (click)="save()"
              >
                <ng-container *ngIf="mode === 'add'">新增</ng-container>
                <ng-container *ngIf="mode === 'edit'">更新</ng-container>
              </button>
            </div>
          </form>
        </ng-container>
      </div>
    </div>
  </ng-template>
</ng-container>
