<ng-container *transloco="let t; scope: 'auth'">
  <div class="fixed top-1 right-2">
    <div class="flex items-start ml-auto space-x-0.5">
      <schemes></schemes>
      <languages></languages>
    </div>
  </div>
  <div class="flex flex-col items-center flex-auto min-w-0 sm:justify-center md:p-8">
    <div
      class="flex overflow-hidden md:w-full md:max-w-6xl sm:rounded-2xl sm:shadow sm:bg-card"
      @zoomIn
    >
      <div
        class="relative items-center justify-center flex-auto hidden h-full p-16 overflow-hidden bg-gray-800 md:flex lg:px-28 dark:border-r"
      >
        <!-- Background - @formatter:off -->
        <!-- Rings -->
        <svg
          class="absolute inset-0 pointer-events-none"
          viewBox="0 0 960 540"
          width="100%"
          height="100%"
          preserveAspectRatio="xMidYMax slice"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g class="text-gray-700 opacity-25" fill="none" stroke="currentColor" stroke-width="100">
            <circle r="234" cx="196" cy="23"></circle>
            <circle r="234" cx="760" cy="541"></circle>
          </g>
        </svg>
        <!-- @formatter:on -->
        <!-- Content -->
        <div class="relative z-10 w-full max-w-2xl">
          <div class="font-bold leading-none text-gray-100 text-7xl">
            <div
              [@fadeInBottom]="{
                value: 'ture',
                params: { duration: '525ms', curves: 'cubic-bezier(.35, 0, .36, 1.6)' }
              }"
            >
              {{ t('auth.wsbm') }}
            </div>
          </div>
          <div
            class="mt-6 text-xl leading-6 text-gray-400"
            [@fadeInRight]="{ value: 'ture', params: { delay: '300ms' } }"
          >
            {{ t('auth.wsbm_description') }}
          </div>
        </div>
      </div>
      <div class="w-full px-4 py-8 sm:w-auto sm:p-12 md:p-16" @stagger60>
        <div class="w-full mx-auto max-w-80 sm:w-80 sm:mx-0">
          <!-- Logo -->
          <div class="w-48 mx-auto" @fadeIn>
            <img class="drop-shadow-lg" src="assets/images/logo/weishour.svg" />
          </div>

          <!-- 登录表单 -->
          <form class="mt-6" [formGroup]="signInForm" #signInNgForm="ngForm">
            <!-- 用户名称字段 -->
            <mat-form-field class="w-full" @fadeInLeft>
              <mat-label>{{ t('auth.username') }}</mat-label>
              <input id="username" matInput formControlName="username" />
              <mat-error *ngIf="signInForm.get('username').hasError('required')">
                {{ t('auth.email_address_required') }}
              </mat-error>
            </mat-form-field>

            <!-- 密码字段 -->
            <mat-form-field class="w-full" @fadeInLeft>
              <mat-label>{{ t('auth.password') }}</mat-label>
              <input
                id="password"
                matInput
                type="password"
                formControlName="password"
                #passwordField
              />
              <button
                mat-icon-button
                type="button"
                (click)="
                  passwordField.type === 'password'
                    ? (passwordField.type = 'text')
                    : (passwordField.type = 'password')
                "
                matSuffix
              >
                <mat-icon
                  class="icon-size-5"
                  *ngIf="passwordField.type === 'password'"
                  [svgIcon]="'heroicons_solid:eye'"
                ></mat-icon>
                <mat-icon
                  class="icon-size-5"
                  *ngIf="passwordField.type === 'text'"
                  [svgIcon]="'heroicons_solid:eye-off'"
                ></mat-icon>
              </button>
              <mat-error>
                {{ t('auth.password_required') }}
              </mat-error>
            </mat-form-field>

            <!-- 动作 -->
            <div class="inline-flex items-end justify-between w-full mt-1.5" @fadeInLeft>
              <mat-checkbox
                [color]="'primary'"
                [matTooltip]="t('auth.remember_me_tooltip')"
                formControlName="rememberMe"
                matTooltipPosition="right"
              >
                {{ t('auth.remember_me') }}
              </mat-checkbox>
              <a
                class="font-medium text-md text-primary-500 hover:underline"
                [routerLink]="['/forgot-password']"
              >
                {{ t('auth.forgot_password') }}?
              </a>
            </div>

            <!-- 提交按钮 -->
            <button
              class="w-full mt-6 ws-mat-button-large"
              mat-flat-button
              [color]="'primary'"
              [disabled]="signInForm.disabled"
              (click)="signIn()"
              @fadeInLeft
            >
              <span *ngIf="!signInForm.disabled">
                {{ t('auth.sign_in') }}
              </span>
              <mat-progress-spinner
                *ngIf="signInForm.disabled"
                [diameter]="24"
                [mode]="'indeterminate'"
              >
              </mat-progress-spinner>
            </button>

            <!-- 分割符 -->
            <div class="flex items-center mt-6" @fadeInLeft>
              <div class="flex-auto mt-px border-t"></div>
              <div class="mx-2 text-secondary">{{ t('auth.continue_with') }}</div>
              <div class="flex-auto mt-px border-t"></div>
            </div>

            <!-- 单点登录按钮 -->
            <div class="flex items-center mt-6 space-x-4" @fadeInLeft>
              <button
                class="flex-auto"
                type="button"
                mat-stroked-button
                [matTooltip]="t('auth.qq')"
                (click)="openToast()"
              >
                <mat-icon class="icon-size-5" [svgIcon]="'ws:qq'"></mat-icon>
              </button>
              <button
                class="flex-auto"
                type="button"
                mat-stroked-button
                [matTooltip]="t('auth.wechat')"
                (click)="openToast()"
              >
                <mat-icon class="icon-size-6" [svgIcon]="'ws:wechat'"></mat-icon>
              </button>
              <button
                class="flex-auto"
                type="button"
                mat-stroked-button
                [matTooltip]="t('auth.github')"
                (click)="openToast()"
              >
                <mat-icon class="icon-size-5" [svgIcon]="'feather:github'"></mat-icon>
              </button>
            </div>

            <div class="flex items-center mt-6" @fadeInLeft>
              <div class="flex-auto"></div>
              <div class="flex items-baseline font-medium">
                <div>{{ t('auth.no_have_account') }}?</div>
                <a class="ml-1 text-primary-500 hover:underline" [routerLink]="['/sign-up']"
                  >{{ t('auth.sign_up') }}
                </a>
              </div>
              <div class="flex-auto"></div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</ng-container>
