<div class="flex flex-col items-center flex-auto min-w-0 sm:flex-row md:items-start sm:justify-center md:justify-start">
    <div class="w-full px-4 py-8 md:flex md:items-center md:justify-end sm:w-auto md:h-full md:w-1/2 sm:p-12 md:p-16 sm:rounded-2xl md:rounded-none sm:shadow md:shadow-none sm:bg-card">
        <div class="w-full mx-auto max-w-80 sm:w-80 sm:mx-0">
            <!-- logo -->
            <div class="w-12">
                <img src="assets/images/logo/logo.svg">
            </div>

            <!-- 标题 -->
            <div class="mt-8 text-4xl font-extrabold leading-tight tracking-tight">Forgot password?</div>
            <div class="mt-0.5 font-medium">Fill the form to reset your password</div>

            <!-- 警告提示 -->
            <ws-alert
                class="mt-8 -mb-4"
                *ngIf="showAlert"
                [appearance]="'outline'"
                [showIcon]="false"
                [type]="alert.type"
                [@shake]="alert.type === 'error'">
                {{alert.message}}
            </ws-alert>

            <!-- 忘记密码表单 -->
            <form
                class="mt-8"
                [formGroup]="forgotPasswordForm"
                #forgotPasswordNgForm="ngForm">

                <!-- 邮箱字段 -->
                <mat-form-field class="w-full">
                    <mat-label>Email address</mat-label>
                    <input
                        id="email"
                        matInput
                        [formControlName]="'email'">
                    <mat-error *ngIf="forgotPasswordForm.get('email').hasError('required')">
                        Email address is required
                    </mat-error>
                    <mat-error *ngIf="forgotPasswordForm.get('email').hasError('email')">
                        Please enter a valid email address
                    </mat-error>
                </mat-form-field>

                <!-- 提交按钮 -->
                <button
                    class="w-full mt-3 ws-mat-button-large"
                    mat-flat-button
                    [color]="'primary'"
                    [disabled]="forgotPasswordForm.disabled"
                    (click)="sendResetLink()">
                    <span *ngIf="!forgotPasswordForm.disabled">
                        Send reset link
                    </span>
                    <mat-progress-spinner
                        *ngIf="forgotPasswordForm.disabled"
                        [diameter]="24"
                        [mode]="'indeterminate'"></mat-progress-spinner>
                </button>

                <!-- 表单尾部 -->
                <div class="mt-8 font-medium text-md text-secondary">
                    <span>Return to</span>
                    <a
                        class="ml-1 text-primary-500 hover:underline"
                        [routerLink]="['/sign-in']">sign in
                    </a>
                </div>

            </form>
        </div>
    </div>
    <div class="relative items-center justify-center flex-auto hidden w-1/2 h-full p-16 overflow-hidden bg-gray-800 md:flex lg:px-28 dark:border-l">
        <!-- Background - @formatter:off -->
        <!-- Rings -->
        <svg class="absolute inset-0 pointer-events-none"
             viewBox="0 0 960 540" width="100%" height="100%" preserveAspectRatio="xMidYMax slice" xmlns="http://www.w3.org/2000/svg">
            <g class="text-gray-700 opacity-25" fill="none" stroke="currentColor" stroke-width="100">
                <circle r="234" cx="196" cy="23"></circle>
                <circle r="234" cx="790" cy="491"></circle>
            </g>
        </svg>
        <!-- Dots -->
        <svg class="absolute text-gray-700 -top-16 -right-16"
             viewBox="0 0 220 192" width="220" height="192" fill="none">
            <defs>
                <pattern id="837c3e70-6c3a-44e6-8854-cc48c737b659" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
                    <rect x="0" y="0" width="4" height="4" fill="currentColor"></rect>
                </pattern>
            </defs>
            <rect width="220" height="192" fill="url(#837c3e70-6c3a-44e6-8854-cc48c737b659)"></rect>
        </svg>
        <!-- @formatter:on -->
        <!-- Content -->
        <div class="relative z-10 w-full max-w-2xl">
            <div class="font-bold leading-none text-gray-100 text-7xl">
                <div>Welcome to</div>
                <div>our community</div>
            </div>
            <div class="mt-6 text-lg leading-6 tracking-tight text-gray-400">
                Ws helps developers to build organized and well coded dashboards full of beautiful and rich modules.
                Join us and start building your application today.
            </div>
            <div class="flex items-center mt-8">
                <div class="flex flex-0 items-center -space-x-1.5">
                    <img
                        class="object-cover w-10 h-10 rounded-full flex-0 ring-4 ring-offset-1 ring-gray-800 ring-offset-gray-800"
                        src="assets/images/avatars/female-18.jpg">
                    <img
                        class="object-cover w-10 h-10 rounded-full flex-0 ring-4 ring-offset-1 ring-gray-800 ring-offset-gray-800"
                        src="assets/images/avatars/female-11.jpg">
                    <img
                        class="object-cover w-10 h-10 rounded-full flex-0 ring-4 ring-offset-1 ring-gray-800 ring-offset-gray-800"
                        src="assets/images/avatars/male-09.jpg">
                    <img
                        class="object-cover w-10 h-10 rounded-full flex-0 ring-4 ring-offset-1 ring-gray-800 ring-offset-gray-800"
                        src="assets/images/avatars/male-16.jpg">
                </div>
                <div class="ml-4 font-medium tracking-tight text-gray-400">More than 17k people joined us, it's your turn</div>
            </div>
        </div>
    </div>
</div>
