<button
  (click)="settingsDrawer.toggle()"
  class="fixed w-10 h-10 settings-cog bottom-9 right-5 z-90 bg-opacity-90 print:hidden"
  color="primary"
  mat-fab
  type="button"
  [ngClass]="buttonHidden ? 'invisible' : 'visible'"
>
  <mat-icon
    class="text-white icon-size-7 animate-spin-slow"
    [svgIcon]="'heroicons_solid:cog'"
  ></mat-icon>
</button>

<ws-drawer
  class="w-screen min-w-screen sm:w-100 sm:min-w-100 z-999"
  fixed
  [mode]="'over'"
  [name]="'settingsDrawer'"
  [position]="'right'"
  #settingsDrawer
>
  <ng-container *transloco="let t; read: 'settings'">
    <div class="flex flex-col w-full bg-card">
      <div class="flex flex-row items-center h-12 px-6 text-white min-h-12 bg-primary">
        <mat-icon class="text-current icon-size-7" [svgIcon]="'heroicons_solid:cog'"></mat-icon>
        <div class="ml-3 text-2xl font-semibold tracking-tight">{{ t('name') }}</div>
        <button class="ml-auto" mat-icon-button (click)="settingsDrawer.close()">
          <mat-icon class="text-current" [svgIcon]="'heroicons_outline:x'"></mat-icon>
        </button>
      </div>

      <div class="flex flex-col p-6" wsScrollbar [wsScrollbarOptions]="{ suppressScrollX: true }">
        <!-- 主题 -->
        <div class="text-base font-semibold text-secondary">{{ t('theme') }}</div>
        <div class="grid grid-cols-2 gap-3 mt-4 sm:grid-cols-3">
          <ng-container *ngFor="let theme of config.themes">
            <div
              class="flex items-center justify-center px-4 py-3 rounded-full shadow cursor-pointer hover:shadow-inner ring-inset ring-primary bg-hover"
              [class.ring-2]="config.theme === theme.id"
              [ngClass]="theme.id"
              (click)="setTheme(theme.id)"
            >
              <div class="w-3 h-3 rounded-full flex-0 bg-primary"></div>
              <div
                class="ml-2.5 font-medium leading-5 truncate"
                [class.text-secondary]="config.theme !== theme.id"
              >
                {{ t(theme.name) }}
              </div>
            </div>
          </ng-container>
        </div>

        <hr class="my-6" />

        <!-- 外观 -->
        <div class="text-base font-semibold text-secondary">{{ t('scheme') }}</div>
        <div class="grid grid-cols-3 gap-3 mt-4 justify-items-start">
          <!-- 自动 -->
          <div
            class="flex items-center py-3 pl-5 pr-6 rounded-full shadow cursor-pointer ring-inset ring-primary bg-hover hover:shadow-inner"
            [class.ring-2]="config.scheme === 'auto'"
            (click)="setScheme('auto')"
          >
            <div class="flex items-center overflow-hidden rounded-full">
              <mat-icon
                class="icon-size-5"
                [svgIcon]="'mat_solid:brightness_auto'"
                [class.text-primary]="config.scheme === 'auto'"
              ></mat-icon>
            </div>
            <div
              class="flex items-center ml-2 font-medium leading-5"
              [class.text-secondary]="config.scheme !== 'auto'"
            >
              {{ t('auto') }}
            </div>
          </div>
          <!-- 深色 -->
          <div
            class="flex items-center py-3 pl-5 pr-6 rounded-full shadow cursor-pointer ring-inset ring-primary bg-hover hover:shadow-inner"
            [class.ring-2]="config.scheme === 'dark'"
            (click)="setScheme('dark')"
          >
            <div class="flex items-center overflow-hidden rounded-full">
              <mat-icon
                class="icon-size-5"
                [svgIcon]="'heroicons_solid:moon'"
                [class.text-primary]="config.scheme === 'dark'"
              ></mat-icon>
            </div>
            <div
              class="flex items-center ml-2 font-medium leading-5"
              [class.text-secondary]="config.scheme !== 'dark'"
            >
              {{ t('dark') }}
            </div>
          </div>
          <!-- 浅色 -->
          <div
            class="flex items-center py-3 pl-5 pr-6 rounded-full shadow cursor-pointer ring-inset ring-primary bg-hover hover:shadow-inner"
            [class.ring-2]="config.scheme === 'light'"
            (click)="setScheme('light')"
          >
            <div class="flex items-center overflow-hidden rounded-full">
              <mat-icon
                class="icon-size-5"
                [svgIcon]="'heroicons_solid:sun'"
                [class.text-primary]="config.scheme === 'light'"
              ></mat-icon>
            </div>
            <div
              class="flex items-center ml-2 font-medium leading-5"
              [class.text-secondary]="config.scheme !== 'light'"
            >
              {{ t('light') }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</ws-drawer>
